.about-container {
  margin: 8rem 4rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  img {
    width: 80%;
    max-width: 350px;
    min-width: 230px;
  }
  .first-line,
  .second-line {
    display: flex;
    justify-content: center;
    word-spacing: 1%;

    h1 {
      font-size: 400%;
      font-weight: 100;
      margin: 0;
      box-sizing: border-box;
      display: flex;
      align-items: flex-end;
      padding-right: 5px;
      justify-content: flex-end;
    }
    h3 {
      margin: 0;
      display: flex;
      flex-direction: column;
      padding-bottom: 2.5%;
      justify-content: flex-end;
    }
  }

  .about-content {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    width: 80%;
    max-width: 550px;
    font-size: 16px;
    line-height: 120%;
  }

  @media screen and (max-width: 950px) {
    display: block;
    margin-top: 2rem;
    .about-text {
      .second-line {
        margin-top: 1rem;
      }
    }
    div:nth-child(2) {
      display: flex;
      justify-content: center;
      margin-top: 4rem;
    }
  }

  @media screen and (max-width: 650px) {
    .about-text h1 {
      font-size: 330%;
    }
  }
  @media screen and (max-width: 500px) {
    .about-text h1 {
      font-size: 230%;
    }

    .about-text h3 {
      font-size: 90%;
    }
  }
}
