.language-button {
  position: absolute;
  top: 2.2rem;
  left: 2.2rem;

  a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -3px;
    left: 50%;
    background: #ffffff;
    transition: all 0.5s;
    transform: translateX(-50%);
  }

  a:hover::before {
    width: 80%;
  }

  a {
    cursor: pointer;
    color: white;
    font-weight: 300;
    display: flex;

    div {
      padding-left: 6px;
      padding-right: 6px;
    }

    .fat {
      font-weight: 500;
    }

    &:hover {
      .fat {
        font-weight: 300;
      }
      .skinny {
        font-weight: 500;
      }
    }
  }

  @media screen and (max-width: 450px) {
    a {
      font-size: 80%;
    }
  }
}
