
                    /*                                                                          */
                                /* Stylesheet Dreiecke Meinhof Innenarchitektur Allgemein */
                                            /* Michael Venetz Sept. 2022 */
                    /*                                                                          */


                   

                        .dreieckeKomplett{
                           margin-top: -0.9vw;
                           margin-left: -1vw;
                        }
                
                       
                                
                        .dreieckenOben, .dreieckUnten{
                            display: flex;
                        }
                
                                .dreieckLinksOben{
                                    width: 0;
                                    height: 0;
                
                                    border-top: 0;
                                    border-bottom: 1vw solid  #ffffff;
                                    border-right: 50vw solid rgba(255, 255, 255, 0); 
                                    border-left: 0px solid rgba(255, 255, 255, 0);
                                }
                
                                .dreieckRechtsOben{
                                    width: 0;
                                    height: 0;
                
                                    border-top: 0;
                                    border-bottom: 1vw solid  #ffffff;
                                    border-left: 50vw solid rgba(255, 255, 255, 0); 
                                    border-right: 0px solid rgba(255, 255, 255, 0);
                                   
                                }
                
                                    .dreieckLinksUnten{
                                        width: 0;
                                        height: 0;
                
                                        border-bottom: 0;
                                        border-top: 1vw solid  #ffffff;
                                        border-left: 50vw solid rgba(255, 255, 255, 0); 
                                        border-right: 0px solid rgba(255, 255, 255, 0);
                                    }
                
                                    .dreieckRechtsUnten{
                                        width: 0;
                                        height: 0;
                
                                        border-bottom: 0;
                                        border-top: 1vw solid #ffffff;
                                        border-right: 50vw solid rgba(255, 255, 255, 0); 
                                        border-left: 0px solid rgba(255, 255, 255, 0);
                                    }
                
                
                
                    