

                    /*                                                                          */
                                /* Stylesheet Projekte Meinhof Innenarchitektur Home-Seite */
                                            /* Michael Venetz Sept. 2022 */
                    /*                                                                          */


    


                        /* -------------------------------------------------------------- */
                                            /* Footer */
                        /* -------------------------------------------------------------- */
                        
                        .footer{
                            text-align: center;
                            background-color: #989592;
                            padding-top: 3rem;
                            margin: 0;
                            color: #E5E5E5;
                        }
                        
                            .footer p{
                                font-size: 0.8rem;
                            }
                        
                                .footer h3{
                                    font-size: 1rem;
                                }
                        
                                    .rechtliches{
                                        display: flex;
                                        flex-flow: row;
                                        position: relative;
                                        top: -50px;
                                        left: 80px;
                                        max-width: 90%;
                                    }
                        
                                    .socialmedia{
                                        cursor: pointer
                                    }
                        
                                        .mittleresIcon{
                                            margin: 0 2rem;
                                            cursor: pointer
                                        }
                        
                                            .impressum{
                                                margin-right: 3rem;
                                            }
                        
                                                .datenschutz, .impressum{
                                                    padding: 0rem 0.5rem;
                                                    border-radius: 2px;
                                                    cursor: pointer
                                                }
                                                    .datenschutz:hover, .impressum:hover{
                                                        color: #3129297b;
                                                        font-size: 1.2rem;
                                                    }
                                                
                                                        .icon:hover{
                                                            color: #3129297b;
                                                        }
                        
                                                        .socialmedia img{
                                                            width: 25px;
                                                            height: auto;
                                                            padding: 4px 6px;
                                                        }
                        
                                                        .socialmedia a{
                                                          
                        
                                                            margin-right: 5%;
                                                        }
                        
                                                        .socialmedia img:hover{
                                                           border: 0.5px solid rgba(255, 255, 255, 0.557);
                                                           border-radius: 10px;
                                                           background-color: rgba(255, 255, 255, 0.12);
                                                           padding: 5.5px;
                                                        }
                        
                        
                                                        .socialmedia a:last-child{
                                                            margin-right: 0%;
                                                        }
                        
                                                        .testt{
                                                            font-size: 300%;
                                                        }
                        
                        
                        @media screen and (max-width: 1150px){                     /* Media Quiri Tag */
                        
                        .rechtliches{
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            margin: auto;
                            padding-bottom: 2rem;
                            top: 0;
                            left: 0;
                        }
                        
                                .impressum{
                                    text-align: right;
                                    margin-right: 2rem;
                                }
                        
                                        .datenschutz{
                                            text-align: left;
                                            margin-left: 2rem;
                                        }
                        
                                                .rechtliches h3{
                                                    font-size: 0.7rem;
                                                }
                        
                        }/* Ende Media Quiri*/
                          
                                            