$primary-color: #ffffff;



.home-header-container {
  min-height: 545px;
  background-image: url('https://meinhof.ch/src/titelbilder/badehausBeleuchtet.jpg');
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 -1vw;
  max-height: 120em;
  padding-bottom: 2rem;

  .arrow {
    display: flex;
    justify-content: center;
    padding-bottom: -3rem;
    padding-top: 3rem;
    svg {
      cursor: pointer;
    }
  }

  img {
    display: flex;
    margin: auto;
    padding-top: 3%;
    cursor: pointer;
    width: 220px;

    &:hover {
      width: 224px !important;
      margin-bottom: -1.7px !important;
    }
  }

  .header-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
    color: $primary-color;
    font-family: 'raleway', sans-serif;
    font-size: 550%;
    line-height: 70%;
  }
}
