.legal-container-container {
  min-height: 110vh;

  .legal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: fit-content;
    margin: 4rem auto 12rem auto;
    padding: 0 2rem;
    max-width: 800px;

    div {
      text-align: center;
      margin-top: 2rem;

      h2 {
        margin: auto;
      }
      ul {
        padding: 0;
        padding-bottom: 1rem;
        li {
          padding-top: 4px;
        }
      }
    }
  }

  @media screen and (max-width: 786px) {
    .legal-container div h2 {
      font-size: 110%;
    }
  }
}
