.logo-link {
  margin: auto;
  padding-top: 2rem;
  width: fit-content;

  img {
    display: flex;
    margin: auto;
    padding-top: 3%;
    cursor: pointer;
    width: 220px;

    &:hover {
      width: 224px !important;
      margin-bottom: -1.7px !important;
    }
  }

  @media screen and (max-width: 768px) {
    img {
      width: 160px;
      &:hover {
        width: 164px !important;
        margin-bottom: -1.9px !important;
      }
    }
  }

  @media screen and (max-width: 450px) {
    img {
      width: 100px;
      &:hover {
        width: 100px !important;
        margin-bottom: 0 !important;
      }
    }
  }
}

.logo-no-link {
  margin: auto;
  padding-top: 2rem;
  width: fit-content;

  img {
    display: flex;
    margin: auto;
    padding-top: 3%;
    cursor: default;
    width: 220px;
  }
}
