html {
  background-color: white;
  scroll-behavior: smooth;
  object-fit: cover;
  overflow-x: hidden;
}
.main {
  scrollbar-width: 0;
}

p {
  font-family: 'raleway', sans-serif;
}
a {
  font-family: 'raleway', sans-serif;
}
li {
  font-family: 'raleway', sans-serif;
  list-style: none;
}

body {
  margin: 0;
  padding: 0 calc(1vw - 10px) 0 1vw;
  background-color: #ffffff;

  font-family: 'raleway';
  font-weight: 300;

  color: #7b7373;
  margin: 0rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
hr {
  color: #ffffff !important;
  border-color: white;
  width: 90%;
}

.container {
  margin: 6rem auto;
  max-width: 1400px;
}
