html{
    padding: 0 1vw;
    background-color: white;
    scroll-behavior: smooth;
   
}

        body{
            font-family: 'raleway';
            font-weight: 300;
            background-color: #E5E5E5;
            color: #7b7373;
            margin: 0rem;
            box-shadow: inset 0px 0px 49px 28px rgba(114, 109, 102, 0.154);
        }

                h1, h2, h3, h4{
                    font-family: 'raleway', sans-serif;
                    text-transform: uppercase;
                    font-weight: 300;
                }
