// Modal ab 1600px  / Todo: media-query
.modal-container {
    z-index: 12;
    cursor: pointer;
    position: fixed;
    max-width: 120vw;
    min-height: 110vw;
    background-color: #e5e5e5;
    margin: -5rem;
    padding: 5rem;
  
    & img {
      width: 90%;
  
      max-width: 1400px;
      display: flex;
      justify-content: center;
      margin: auto;
      margin-top: 8rem;
    }
  }
  