.mainNav {
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 1rem;
  width: 300px;

  div:first-of-type {
    top: 2rem;
    z-index: 3;
  }

  // Row Navigation
  .in-row-nav-content {
    display: flex;
    transition: width 1s linear;
    width: 0%;
    overflow: hidden;
    position: absolute;
    right: 0;
    margin-top: 2rem;

    a {
      color: white;
      text-decoration: none;
      text-align: end;
      cursor: pointer;
      margin: 0.7rem 2rem 0rem 0rem;
      animation: fadeOut 2s linear;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      position: relative;
    }

    a::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 1px;
      bottom: 0;
      left: 0%;
      background: #ffffff;
      transition: all 0.5s;
      transform: translateX(0%);
    }

    a:hover::before {
      width: 100%;
    }
  }

  .in-row-nav-content-open {
    z-index: 1;
    position: relative;
    transition: width 1s linear;
    width: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 100%;
    margin-top: 2rem;
    display: flex;

    a {
      padding: 0px;
      line-height: 20px;

      display: inline-block;
      position: relative;
      overflow: hidden;
      color: white;
      font-weight: 300;
      text-decoration: none;
      cursor: pointer;
      margin: 0rem;

      margin: 0.7rem 2rem 0rem 0rem;
      margin-bottom: 20px;
      white-space: nowrap;
      border-radius: 2px;

      // flex: 1 0 calc(33.333% - 10px);

      display: inline-block;
      position: relative;
    }

    a::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 1px;
      bottom: 0;
      left: 50%;
      background: #ffffff;
      transition: all 0.7s;
      transform: translateX(-50%);
    }

    a:hover::before {
      width: 100%;
    }
  }
}

// Nav Column
.mainNavContent {
  z-index: 1;
  display: flex;
  flex-direction: column;
  transition: width 1s ease-in-out;
  width: 0;
  overflow: hidden;
  padding-top: 80px;
  margin-right: -75px;

  a {
    padding-right: 1.5rem;
    line-height: 40px;
    color: rgb(54, 50, 50);
    text-decoration: none;
    text-align: end;
    cursor: pointer;
    margin: 0.7rem 2rem 0rem 0rem;
    animation: fadeOut 2s linear;
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), 30%, rgba(239, 228, 228, 0.825));
  }

  a {
    display: inline-block;
    position: relative;
  }

  a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 0%;
    background: #ffffff;
    transition: all 0.5s;
    transform: translateX(0%);
  }

  a:hover::before {
    width: 100%;
  }
}

.mainNavContentOpen {
  z-index: 1;
  display: flex;
  flex-direction: column;
  transition: width 1s ease-in-out;
  overflow: hidden;
  padding-top: 80px;
  margin-right: -75px;
  width: 100%;

  a {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), 30%, rgba(239, 228, 228, 0.825));
    padding-right: 1.5rem;
    line-height: 40px;
    text-align: end;
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: rgb(54, 50, 50);
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    margin: 0.7rem 2rem 0rem 0rem;
    white-space: nowrap;
    border-radius: 2px;
    &:hover{
      font-weight: 500;
    }
  }

  a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 90%;
    background: rgb(54, 50, 50);
    transition: all 0.7s;
    transform: translateX(-90%);
  }

  a:hover::before {
    width: 100%;

  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
