.mainNav{
display: flex;
flex-direction: row-reverse;
margin-right: 2rem;

div:first-child{
    top:2rem
}

.mainNavContent{
display: flex;
padding-top: 2rem;
    a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 0.7rem 2rem 0rem 0rem;
}}}
