.contribution-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 5rem auto 15rem;
  width: 90vw;
  max-width: 1400px;
  gap: 3vw;
}

.projekt-pictures {
  width: 50vw;
  max-width: 800px;
  height: auto;
  cursor: pointer;
  box-shadow: -1px 5px 50px 24px rgba(112, 109, 105, 0.197);
}

.projektText::first-letter {
  font-size: 160%;
  text-transform: capitalize;
  line-height: 1px;
  margin-left: -1px;
}

.hrLineDown {
  margin: 0 4%;
  border: 1.5px solid white;
  border-top: none;
  margin-bottom: 8%;
}
