.head-project-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 5rem;
  width: 80%;
  margin: 6rem auto;
  max-width: 1200px;
  & > div {
    display: flex;
    gap: 1rem;
    height: 50px;

    & > h2 {
      margin: 0;
      width: 200px;
      font-size: 90%;
      flex-shrink: 0;
    }
    & > p {
      margin: 0;
    }
    & > ul {
      margin: 0;
      padding: 0;
    }
  }
}
.head-project-content div:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.head-project-content div:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}
.head-project-content div:nth-child(4) {
  grid-column: 1/2;
  grid-row: 4/5;
}
