.header-container {
  object-fit: contain;


.header-text {
  display: flex;
  justify-content: center;
  padding: 6rem 0;

  h1 {
    color: white;
    font-size: 580%;
  }
}

img {
  display: flex;
  margin: auto;
  padding-top: 3%;
  cursor: pointer;
  width: 220px;

  &:hover {
    width: 224px !important;
    margin-bottom: -1.7px !important;
  }
}
}