.header-container {
  object-fit: contain;
  background-attachment: scroll;
  background-position: 100px 0;

  .header-text {
    display: flex;
    justify-content: center;
    margin: auto;
    width: min-content;
    padding: 1rem 0 6rem 0;

    h1 {
      text-align: center;
      line-height: 85%;
      color: white;
      font-size: 580%;
      filter: blur(40px);
      animation:forwards;
      animation-name: fadeText;
      animation-duration: 1.2s;
    }

  
    


@keyframes fadeText {
    from {filter: blur(40px)} 
    to {filter: blur(0px)} 
}


  }
}
