



.vertical-slider{
display: flex;
div{
    width: 50%;
    display: grid;
    align-items: center;
    h2{
        text-align: center;
    }
}


img{
    width: 50%;
position:relative;
animation: myothermove 5s infinite;;
}
}

@keyframes slideUp{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(100%);
    }
}